@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	:root {
		--background: 162 24% 94%;
		--foreground: 162 45% 16%;

		--card: 0 0% 100%;
		--card-foreground: 162 45% 16%;

		--popover: 0 0% 100%;
		--popover-foreground: 162 45% 16%;

		--primary: 162 45% 16%;
		--primary-foreground: 0 0% 100%;

		--secondary: 162 24% 73%;
		--secondary-foreground: 162 45% 16%;

		--muted: 162 24% 90%;
		--muted-foreground: 162 24% 40%;

		--accent: 162 24% 73%;
		--accent-foreground: 162 45% 16%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 162 24% 82%;
		--input: 162 24% 82%;
		--ring: 162 45% 16%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 162 45% 16%;
		--foreground: 162 24% 94%;

		--card: 162 45% 12%;
		--card-foreground: 162 24% 94%;

		--popover: 162 45% 12%;
		--popover-foreground: 162 24% 94%;

		--primary: 162 24% 73%;
		--primary-foreground: 162 45% 16%;

		--secondary: 162 45% 25%;
		--secondary-foreground: 162 24% 94%;

		--muted: 162 45% 25%;
		--muted-foreground: 162 24% 73%;

		--accent: 162 45% 25%;
		--accent-foreground: 162 24% 94%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 162 24% 94%;

		--border: 162 45% 25%;
		--input: 162 45% 25%;
		--ring: 162 24% 73%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
